<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partial/head") %>
</head>

<body class="min-h-screen flex flex-col">
    <%- include("./partial/header") %>
        <main class="flex-grow">
            <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
                <div class="mx-auto max-w-screen-sm px-4 2xl:px-0">
                    <article id="policy" class="bg-white rounded-2xl p-4 shadow">
                        <h2 class="text-2xl md:text-4xl font-semibold mb-4 text-center">Privacy Policy</h2>
                        <p class="text-sm text-slate-600 my-6">At <strong>Byaara</strong>, we value your privacy. This
                            Privacy Policy outlines the types of information we collect, how we use it, and how we
                            protect it.</p>

                        <section class="mb-6">
                            <h3 class="text-lg font-medium">1. Data We Gather</h3>
                            <p class="text-slate-600 mt-2">When you make a purchase, we get information from you
                                directly, like your name, email address, and payment details.</p>
                        </section>

                        <section class="mb-6">
                            <h3 class="text-lg font-medium">2. How We Utilize Your Data</h3>
                            <p class="text-slate-600 mt-2">To complete transactions, enhance our offerings, and get in
                                touch with you regarding your orders, we use your information.</p>
                        </section>

                        <section class="mb-6">
                            <h3 class="text-lg font-medium">3. Cookies</h3>
                            <p class="text-slate-600 mt-2">Cookies are used on our website to improve your experience.
                                Cookies can be turned off in your browser’s settings.</p>
                        </section>

                        <section class="mb-6">
                            <h3 class="text-lg font-medium">4. Security of Data</h3>
                            <p class="text-slate-600 mt-2">To keep your personal information safe, we employ a number of
                                security measures. Nevertheless, there is no completely safe way to transmit information
                                over the Internet.</p>
                        </section>

                        <section class="mb-6">
                            <h3 class="text-lg font-medium">5. Disclosure to Third Parties</h3>
                            <p class="text-slate-600 mt-2">Your personal information is never traded, sold, or otherwise
                                given to third parties unless it’s required to finish a transaction.</p>
                        </section>

                        <section class="mb-6">
                            <h3 class="text-lg font-medium">6. Your Rights</h3>
                            <p class="text-slate-600 mt-2">You have the right to ask for your intimate information to be
                                accessed, corrected, or deleted. For help, feel free to contact us at <a
                                    href="mailto:privacy@byaara.com"
                                    class="text-indigo-600 hover:underline">privacy@byaara.com</a>.</p>
                        </section>

                        <footer class="mt-6 pt-4 border-t">
                            <p class="text-sm text-slate-500">Last updated: <time datetime="2025-08-08">August 8,
                                    2025</time></p>
                        </footer>
                    </article>
            </section>
        </main>
        <%- include("./partial/footer") %>
</body>

</html>