<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partial/head") %>
</head>

<body class="min-h-screen flex flex-col">
    <%- include("./partial/header") %>
        <main class="flex-grow">
            <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
                <div class="mx-auto max-w-screen-sm px-4 2xl:px-0">
                    <article class="bg-white rounded-2xl shadow p-4">
                        <h1 class="text-2xl md:text-4xl font-semibold mb-4 text-center">Terms of Service</h1>
                        <p class="text-sm text-gray-600 mb-6">Welcome to <strong>Byaara</strong>. By accessing
                            and using this website, you agree to comply with the following terms and conditions. Please
                            read them carefully.</p>

                        <section class="mb-6">
                            <h2 class="text-lg font-medium">1. Use of the Website</h2>
                            <p class="text-gray-700 mt-2">You promise that you will only use the website for legitimate
                                purposes and that you won't violate anyone else's rights or prevent them from using and
                                enjoying it.</p>
                        </section>

                        <section class="mb-6">
                            <h2 class="text-lg font-medium">2. Ownership of Intellectual Property</h2>
                            <p class="text-gray-700 mt-2">All of the text, images, logos, and graphics on this website
                                belong to Byaara or its content providers and are safeguarded by copyright laws
                                in the United States and other countries.</p>
                        </section>

                        <section class="mb-6">
                            <h2 class="text-lg font-medium">3. Goods and Assistance</h2>
                            <p class="text-gray-700 mt-2">Without prior notice, we reserve the right to alter or stop
                                providing our goods and services. Prices and descriptions are subject to change at any
                                time.</p>
                        </section>

                        <section class="mb-6">
                            <h2 class="text-lg font-medium">4. Accounts for Users</h2>
                            <p class="text-gray-700 mt-2">You are required to give us accurate and comprehensive
                                information when you create an account. It is your responsibility to keep your password
                                or account secure.</p>
                        </section>

                        <section class="mb-6">
                            <h2 class="text-lg font-medium">5. Liability Restrictions</h2>
                            <p class="text-gray-700 mt-2">Byaara disclaims all liability for incidental,
                                consequential, direct, and indirect damages resulting from the use of our products or
                                website.</p>
                        </section>

                        <section class="mb-0">
                            <h2 class="text-lg font-medium">6. Law Sanctioning</h2>
                            <p class="text-gray-700 mt-2">The laws of the United States shall govern the interpretation
                                and enforcement of these terms.</p>
                        </section>
                    </article>
            </section>
        </main>
        <%- include("./partial/footer") %>
</body>

</html>